body {
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: auto;
    background-image: url("../imagenes/fondo.jpg")
}

h1 {
    font-family: "Pacifico", cursive;
    color: deepskyblue;
    justify-content: center; 
    margin: 0%;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    border-radius: 10px;
    border: solid black 13px;
    width: 400px;
    height: 400px;
    background-color: bisque;
    margin: 50px auto;
    p {
        text-align: center;
    }
    .buttons {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button {
            border-radius: 5px;
            border: none;
            background-color: orange;
            color: whitesmoke;
            width: 300px;
            height: 30px;
            margin: 3px;
        }
    }
    .alertName {
        background-color: pink;
        color: palevioletred;
        size: 20px;
        width: 300px;
        height: 50px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .ups {
        display: none;
    }
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 13px;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    h1 {
        text-align: center;
        margin: 5px;
    }
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .cardsImg {
        width: 200px;
        height: 200px;
        margin: 10px;
        justify-content: center;
        border: solid orange;
        img {
            width: 100%;
        }
    }
}

.lifes {
    background-color: white;
    border: solid 5px deepskyblue;
    border-radius: 5px;
    width: 900px;
    p {
        text-align: center;
    }
}